*{
    margin: 0;
    padding: 0;
}
#banner{
    width: 900px;
    height: 300px;
    margin: auto;

}

#produits{
    width: 900px;
    min-height: 600px;
    margin: auto;
}
.produit{
width: 300px;
height: 400px;
border: 1px solid black;
box-sizing: border-box;
float: left;
text-align: center;
}
.produit img{
width: 100%;}